<!-- Footer -->
<footer class="text-center text-white" style="background-color: #343A40; border-radius: 5px;">
    <div class="container p-4">
      <section class="mb-4">
        <p>
          <strong> MotorsDirect </strong><br> Tu destino para encontrar el automóvil perfecto. ¡Descubre, conduce y hazlo tuyo!
        </p>
      </section>
  
      <section class="">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Información</h5>
            <br>
            <ul class="list-unstyled mb-0">
              <li><a href="#!" class="text-light">Términos y condiciones</a></li>
              <li><a href="#!" class="text-light">Política de privacidad</a></li>
              <li><a href="#!" class="text-light">Preguntas frecuentes</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contacta con nosotros</h5>
            <br>
            <ul class="list-unstyled mb-0">
              <li><a href="#!" class="text-light">Teléfono: +593 99 435 3927</a></li>
              <li><a href="#!" class="text-light">Horario de atención: Lunes a Viernes</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Ubicación</h5>
            <br>
            <ul class="list-unstyled mb-0">
              <li><a href="#!" class="text-light">Quicentro</a></li>
              <li><a href="#!" class="text-light">Quito, Ecuador</a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  
    <div class="text-center p-3" style="background-color: rgb(0, 0, 0);">
      © 2024 MotorsDirect. Todos los derechos reservados.
    </div>
  </footer>
