<div style="background-color: #F5F5F5;">
    <div class="container">
        <section class="section">
            <br>
            <h2 class="section-title" style="text-align: center;">Sobre Nosotros</h2>
            <br>
            <!-- Misión y Visión -->
            <div class="row">
                <!-- Misión -->
                <div class="col-md-12 mb-6">
                    <div class="card">
                        <img src="image/consesionaria.jpg" class="card-img-top" alt="Misión">
                        <div class="card-body">
                            <h5 class="card-title">Nuestra Misión</h5>
                            <p class="card-text">En MotorsDirect, nuestra misión es ofrecer una experiencia de compra de automóviles excepcional. Nos comprometemos a proporcionar vehículos de alta calidad, un servicio al cliente personalizado y un ambiente donde cada cliente pueda encontrar el automóvil que mejor se adapte a sus necesidades y deseos.</p>
                        </div>
                    </div>
                </div>
                <br><br> <br><br>
                <!-- Visión -->
                <div class="col-md-12 mb-6">
                    <div class="card">
                        <img src="image/vision.png" class="card-img-top" alt="Visión">
                        <div class="card-body">
                            <h5 class="card-title">Nuestra Visión</h5>
                            <p class="card-text">Nuestra visión es ser la concesionaria de autos preferida en la región, destacándonos por nuestra integridad, innovación y atención al cliente. Queremos establecer un estándar en la industria automotriz y ser reconocidos por nuestra capacidad para ofrecer soluciones de movilidad de primera clase.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>


            <div class="row">
                <!-- Experiencia -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="image/autosventas.jpg" class="card-img-top" alt="Experiencia">
                        <div class="card-body">
                            <h5 class="card-title">Experiencia</h5>
                            <p class="card-text">Contamos con más de 15 años de experiencia en la industria automotriz. Nuestro equipo de expertos está altamente capacitado para ofrecer un servicio excepcional y asesoramiento profesional. En MotorsDirect, combinamos nuestro conocimiento profundo del mercado con una pasión por los automóviles para brindar una experiencia de compra inigualable.</p>
                        </div>
                    </div>
                </div>

                <!-- Personal -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="image/conse.jpg" class="card-img-top" alt="Personal">
                        <div class="card-body">
                            <h5 class="card-title">Nuestro Personal</h5>
                            <p class="card-text">Nuestro equipo está compuesto por profesionales apasionados y expertos en la industria automotriz. Cada miembro de nuestro personal está dedicado a proporcionar un servicio de alta calidad y a asegurar que cada cliente reciba atención personalizada y asistencia experta durante todo el proceso de compra.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <br>
</div>
