
<div class="container-fluid text-center" style="background-color: #F5F5F5;;">
<br>
    <div class="container" style="background-color: #F5F5F5;">
        <h1 style="font-size: 75px; margin: 10px; color: #000000;">Bienvenido a MotorsDirect</h1>
    </div>
    <br><br>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" style="width: 80%; max-width: 800px; margin: 0 auto;" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="image/carro1.jpg" class="d-block w-100" alt="carro1" style="object-fit: cover; height: 400px;">
      </div>
      <div class="carousel-item">
        <img src="image/carro2.jpg" class="d-block w-100" alt="carro2" style="object-fit: cover; height: 400px;">
      </div>
      <div class="carousel-item">
        <img src="image/carro3.jfif" class="d-block w-100" alt="carro3" style="object-fit: cover; height: 400px;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
      
      <br><br>
      <h1 style="font-size: 40px; color: #000000;">Carros más comprados!</h1>
      <br><br>

      <!-- tarjeta de carros -->
      
      <div class="container">
        <section class="section my-4">
            <div class="row">
                <!-- Tarjeta 1 -->
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="image/car1.png" class="card-img-top" alt="Car 1">
                        <div class="card-body">
                            <h5 class="card-title">Kia Sonet</h5>
                        </div>
                    </div>
                </div>

                <!-- Tarjeta 2 -->
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="image/car2.jpg" class="card-img-top" alt="Car 2">
                        <div class="card-body">
                            <h5 class="card-title">Shineray G01</h5>
                        </div>
                    </div>
                </div>

                <!-- Tarjeta 3 -->
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="image/car3.jfif" class="card-img-top" alt="Car 3">
                        <div class="card-body">
                            <h5 class="card-title">Jetour X70</h5>
                        </div>
                    </div>
                </div>

                <!-- Tarjeta 4 -->
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="image/car4.jpg" class="card-img-top" alt="Car 4">
                        <div class="card-body">
                            <h5 class="card-title">Kia Seltos</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </div>